PORT=8000
MONGO_URI=mongodb+srv://Sakshi:sakshi17@cluster0.suums5u.mongodb.net
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=chai-aur-backend
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKKEN_SECRET=chai-aur-code
REFRESH_TOKKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=chaiaurcode
CLOUDINARY_API_KEY=714598242411324
CLOUDINARY_API_SECRET=blow23erji4r94i0ifnfjrif